.chart-container {
    display: block;
    height: 500px;
}
.node {
    border-radius: 3px;
}

.icon {
	display: inline-block;
	color: #444444;
    width: 1em;
	height: 1em;
	fill: currentColor;
}
.icon-home {
  /* Using currentColor above lets
  us use `color` for changing the color
  of our icons: */
  color: red;
  
  /* The width and height of the SVG
  was previously set to 1em.
  This allows us to use `font-size`
  to change the size of our icon: */
  font-size: 14px;
}
.process-label {
    font-size: 14px !important;
    fill: #444 !important;
}
.process-header {
    font-size: 14 px !important;
    fill: #00AEEF !important;
}
.faicon {
    font-family: FontAwesome;
}
.pointer {
    cursor: pointer;
}