<app-drawer>
    <md-card style="margin: 10px">
        <ul style="padding: 24px 72px">
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
            <li>Laborum animi culpa eius, rerum accusamus ipsum, ea porro.</li>
            <li>Ad unde nihil, temporibus ipsa laudantium porro, sed enim.</li>
            <li>Alias voluptate, aliquid provident quos doloremque rem ad.</li>
            <li>Quidem rerum et explicabo at doloremque consequatur labore!</li>
            <li>Odit sunt similique velit tempora ipsum, vitae ex nihil?</li>
        </ul>
    </md-card>
</app-drawer>