/* You can add global styles to this file, and also import other style files */
.nav-link {
    color: rgba(255, 255, 255, 0.5) !important;
    cursor: pointer;
}
.nav-link:hover {
    color: rgba(255, 255, 255, 0.75) !important;
}

.navbar-sidebar {
    position: absolute;
    top: 56px;
    left: 0px;
    background-color: #292b2c;
    height: calc(100vh - 112px);
    overflow-x: hidden;
    overflow-y: auto;
    flex-direction: column;
}
.navbar-sidebar > .nav-item {
    width: 250px;
    padding: 0;
}
.navbar-sidebar > .nav-item > .nav-link {
    padding: 1em;
}
.navbar-sidebar > .nav-item.active > .nav-link {
    color: #fff !important;
    background-color: #495057;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
}
.node text {
    font: 12px sans-serif;
}
.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}
.modal-lg {
    max-width: 1200px;
}